<!DOCTYPE html>
<html lang="en" loaded="false" zez:dark="dark" zez:light="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/prism.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/output.css">
    <title>{{ .Title }}</title>
</head>
<body hx-boost="true" class="h-full w-full flex invisible text-[var(--black)] bg-[var(--white)] dark:text-[var(--white)] dark:bg-[var(--black)]" zez:loaded="!visible">
    <div id="root" class="w-full">
        {{ template "header.html" . }}
        <div id="content-wrapper" style="grid-area: content-wrapper;">
            {{ template "sitenav.html" . }}
            <main id="main" style="grid-area: main;">
                <article id="article" class="lg:px-8 lg:py-4 p-4 flex flex-col gap-6 break-words" style="grid-area: article;">
                    {{ .Content }}
                    {{ template "pageturn.html" . }}
                </article>
                {{ template "pagenav.html" . }}
            </main>
        </div>
        {{ template "footer.html" . }}
        {{ template "overlay.html" .}}
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>


