
/* handling scroll ------------------------------------------------------------- */

html {
	scroll-padding-top: 75px;
}

/* variables ----------------------------------------------------------------- */

:root {

/* utility ----------------------------------------------------------------- */

	/* font sizes */
    --text-base: 16px;
    --text-2xs: 0.75rem;
    --text-xs: 1rem;
    --text-sm: 1.25rem;
    --text-md: 1.5rem;
    --text-lg: 1.75rem;
    --text-xl: 2rem;
    --text-2xl: 3rem;

	/* border radius */
    --rounded-sm: 0.25rem;
	--rounded-md: 0.5rem;

	/* colors */
    --white: #fafafa;
    --black: #1f1f1f;
	--gray-800: #333333;
	--gray-700: #555555;
	--gray-600: #777777;
	--gray-500: #999999;
	--gray-400: #bbbbbb;
	--gray-300: #dddddd;
	--gray-200: #f0f0f0;
	--gray-100: #f5f5f5;
    --light-gray: #d0d0d0;
    --gray: #555555;
    --darkest-gray: #222222;
	--purple: #ba8ef7;
	--dark-purple: #712fec;
	--green: #3bec74;
	--dark-green: #057d2f;
	--pink: #b370b1;
	--yellow: #ffea6b;
	--dark-yellow: #7f7108;
	--orange: #ffa763;
	--dark-orange: #c64719;
	--blue: #2494da;
	--dark-blue: #1b6dbf;
	--red: #ff4d3f;
	--dark-red: #c82216;

/* element specific variables ----------------------------------------------------------------- */

	/* border colors */
	--b-color: var(--gray-300);
	--dark-b-color: var(--gray-800);
	--b-hover-color: var(--gray-400);
	--dark-b-hover-color: var(--gray);

	/* text colors */
	--default-text-color: var(--black);
	--dark-default-text-color: var(--white);
	--text-important: var(--dark-blue);
	--dark-text-important: var(--blue);

	/* background colors */
	--default-bg-color: var(--white);
	--dark-default-bg-color: var(--black);
	--bg-hover-color: var(--gray-200);
	--dark-bg-hover-color: var(--gray-800);

	/* header */
	--header-bg-color: var(--white);
	--dark-header-bg-color: var(--black);

	/* footer */
	--footer-bg-color: var(--white);
	--dark-footer-bg-color: var(--black);

	/* overlay */
	--overlay-bg-color: var(--black);

	/* sitenav */
	--sitenav-bg-color: var(--white);
	--dark-sitenav-bg-color: var(--black);

	/* pagenav */
	--pagenav-bg-color: var(--white);
	--dark-pagenav-bg-color: var(--black);
	
	/* scroll colors */
	--scroll-thumb-light: var(--gray-400);
	--scroll-thumb-dark: var(--gray-800);

	/* markdown text sizes  */
	--md-h1-size: var(--text-2xl);
	--md-h2-size: var(--text-xl);
	--md-h3-size: var(--text-lg);
	--md-h4-size: var(--text-md);
	--md-h5-size: var(--text-sm);
	--md-h6-size: var(--text-xs);
	--md-p-size: var(--text-xs);

	/* light inline code */
	--inline-code-b-radius: var(--rounded-sm);
	--inline-code-bg-color: var(--gray-200);
	--inline-code-web-component-bg-color: var(--gray-300);
	--dark-inline-code-web-component-bg-color: var(--gray-700);

	/* dark inline code */
	--dark-inline-code-bg-color: var(--gray-800);

	/* all code blocks */
	--code-b-radius: var(--rounded-sm);

	/* light code blocks */
	--code-bg-color: var(--gray-200);
	--code-token-property: var(--dark-purple);
	--code-string: var(--dark-green);
	--code-token-selector: var(--dark-orange);
	--code-function: var(--dark-yellow);
	--code-keyword: var(--dark-purple);
	--code-operator: var(--black);
	--code-punctuation: var(--gray-700);
	--code-important: var(--dark-orange);
	--code-comment: var(--gray-700);

	/* dark code blocks */
	--dark-code-bg-color: var(--gray-800);
	--dark-code-token-property: var(--purple);
	--dark-code-string: var(--green);
	--dark-code-token-selector: var(--orange);
	--dark-code-function: var(--yellow);
	--dark-code-keyword: var(--purple);
	--dark-code-operator: var(--white);
	--dark-code-punctuation: var(--gray-300);
	--dark-code-comment: var(--gray-300);

	/* custom md elements */
	--md-bg-color: var(--gray-200);
	--dark-md-bg-color: var(--gray-800);

	/* <md-important> */
	--md-important-text-color: var(--dark-blue);
	--dark-md-important-text-color: var(--blue);
	--md-important-border-color: var(--dark-blue);
	--dark-md-important-border-color: var(--blue);

	/* <md-warning> */
	--md-warning-text-color: var(--dark-red);
	--dark-md-warning-text-color: var(--red);
	--md-warning-border-color: var(--dark-red);
	--dark-md-warning-border-color: var(--red);

	/* <md-correct> */
	--md-correct-text-color: var(--dark-green);
	--dark-md-correct-text-color: var(--green);
	--md-correct-border-color: var(--dark-green);
	--dark-md-correct-border-color: var(--green);

}

 /* grids -------------------------------------------------------------------- */

#root {
	grid-template-columns: 1fr;
	grid-template-rows: 75px 1fr auto;
	grid-template-areas: 
		"header"
		"content-wrapper"
		"footer"
	;
}

#main {
	grid-template-columns: 100%;
	grid-template-areas: 
		"article"
	;
	overflow: hidden;
}

#content-wrapper {
	grid-template-columns: auto;
	grid-template-areas: 
		"main"
	;
}


@media (min-width: 1024px) {
	
	#content-wrapper {
		grid-template-columns: 300px 1fr;
		grid-template-areas: 
			"sitenav main"
		;
	}

	#main {
		grid-template-columns: 70% 40%;
		grid-template-rows: auto;
		grid-template-areas: 
			"article pagenav"
		;
	}


}


/* markdown styles ----------------------------------------------------------- */

article h1 {
    font-size: var(--md-h1-size);
	font-weight: bold;
}

article ol {
	list-style-type: decimal;
	list-style-position: inside;
}

article ol li, article ul li {
	line-height: 1.75rem;
}

article ul {
	list-style-type: disc;
	list-style-position: inside;
}

article h2 {
    font-size: var(--md-h2-size);
    padding-top: 2rem;
	font-weight: 500;
}

article h3 {
    font-size: var(--md-h3-size);
    padding-top: 2rem;
	font-weight: 500;
}

article h4 {
	font-size: var(--md-h4-size);
    padding-top: 2rem;
	font-weight: 500;
}

article h5 {
	font-size: var(--md-h5-size);
    padding-top: 2rem;
	font-weight: 500;
}

article p {
    font-size: var(--md-p-size);
    line-height: 1.75rem;
	font-weight: 400;
}

article p strong {
	font-weight: bold;
}

article pre {
    border-radius: var(--code-b-radius);
    overflow-x: auto;
    white-space: pre;
}

article code {
    border-radius: var(--code-b-radius);
}

article a {
    color: var(--text-important);
    text-decoration: underline;
}

html.dark article a {
    color: var(--dark-text-important);
}

article * code {
    background-color: var(--inline-code-bg-color);
    border-radius: var(--inline-code-b-radius);
    padding: 0.25rem;
}

article p.custom-inline-code code {
	background-color: var(--inline-code-web-component-bg-color);
}

html.dark p.custom-inline-code code {
	background-color: var(--dark-inline-code-web-component-bg-color);
}


html.dark article * code {
    background-color: var(--dark-inline-code-bg-color);
}

article * code {
    padding: 0.25rem;
}

article pre code {
	padding: 0;
}



/* custom scroll ------------------------------------------------------------- */


.custom-scroll::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
}

.sm-custom-scoll::-webkit-scrollbar {
	width: 0px;
}

@media (min-width: 992px) {

	.custom-scroll::-webkit-scrollbar {
		width: 12px;
    }
	
	.sm-scroll::-webkit-scrollbar {
		width: 4px;	
	}
    
    .custom-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

	.sm-scroll::-webkit-scrollbar-track {
		background: var(--white);
	}

	.custom-scroll::-webkit-scrollbar-thumb {
		background-color: var(--scroll-thumb-light);
		border-radius: 10px;
	}
	
	.custom-scroll::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray);
		cursor: pointer;
	}

	html.dark .custom-scroll::-webkit-scrollbar-thumb {
		background: var(--scroll-thumb-dark);
	}

	html.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
		background-color: var(--gray);
		cursor: pointer;
	}

	html.dark .custom-scroll::-webkit-scrollbar-track {
		background: var(--darkest-gray);
	}
    
    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: var(--scroll-thumb-light);
        border-radius: 10px;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray);
        cursor: pointer;
    }

    html.dark .custom-scroll::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb-dark);
    }

    html.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray);
        cursor: pointer;
    }

    html.dark .custom-scroll::-webkit-scrollbar-track {
        background: var(--darkest-gray);
    }

	html.dark .sm-scroll::-webkit-scrollbar-track {
		background: var(--black);
	}

}

/* light codeblocks ----------------------------------------------------------- */

html.light code[class*="language-"],
html.light pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

html.light pre[class*="language-"]::-moz-selection, html.light pre[class*="language-"] ::-moz-selection,
html.light code[class*="language-"]::-moz-selection, html.light code[class*="language-"] ::-moz-selection {
	text-shadow: none;
}

html.light pre[class*="language-"]::selection, html.light pre[class*="language-"] ::selection,
html.light code[class*="language-"]::selection, html.light code[class*="language-"] ::selection {
	text-shadow: none;
}

@media print {
	html.light code[class*="language-"],
	html.light pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
html.light pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

html.light :not(pre) > code[class*="language-"],
html.light pre[class*="language-"] {
	background: var(--code-bg-color);
}

/* Inline code */
html.light :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

html.light .token.prolog,
html.light .token.doctype,
html.light .token.cdata {
	color: var(--code-punctuation);
}

html.light .token.comment {
	color: var(--code-comment);
}


html.light .token.punctuation {
	color: var(--code-punctuation);
}

html.light .token.namespace {
	opacity: .7;
}

html.light .token.property,
html.light .token.tag,
html.light .token.boolean,
html.light .token.number,
html.light .token.constant,
html.light .token.symbol,
html.light .token.deleted {
	color: var(--code-token-property);
}

html.light .token.attr-name,
html.light .token.string,
html.light .token.variable,
html.light .token.char,
html.light .token.inserted {
	color: var(--code-string);
}

html.light .token.selector {
	color: var(--code-token-selector);
}

html.light .token.operator,
html.light .token.entity,
html.light .token.url,
html.light .language-css .token.string,
html.light .style .token.string {
	color: var(--code-operator);
	background: var(--codeblock-light-background);
}

html.light .token.atrule,
html.light .token.attr-value,
html.light .token.builtin,
html.light .token.class-name,
html.light .token.keyword {
	color: var(--code-keyword);
}

html.light .token.function {
	color: var(--code-function);
}

html.light .token.regex,
html.light .token.important {
	color: var(--code-important);
}

html.light .token.important,
html.light .token.bold {
	font-weight: bold;
}
html.light .token.italic {
	font-style: italic;
}

html.light .token.entity {
	cursor: help;
}


/* dark codeblocks ----------------------------------------------------------- */


html.dark code[class*="language-"],
html.dark pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
html.dark pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

html.dark :not(pre) > code[class*="language-"],
html.dark pre[class*="language-"] {
	background: var(--dark-code-bg-color);
}

/* Inline code */
html.dark :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

html.dark .token.prolog,
html.dark .token.doctype,
html.dark .token.cdata {
	color: var(--dark-code-punctuation);
}

html.dark .token.block-comment,
html.dark .token.comment {
	color: var(--dark-code-comment);
}

html.dark .token.punctuation {
	color: var(--dark-code-punctuation);
}

html.dark .token.tag,
html.dark .token.attr-name,
html.dark .token.namespace,
html.dark .token.deleted {
	color: #e2777a;
}

html.dark .token.function-name {
	color: #6196cc;
}

html.dark .token.boolean,
html.dark .token.number,
html.dark .token.function {
	color: var(--dark-code-function);
}

html.dark .token.property,
html.dark .token.class-name,
html.dark .token.constant,
html.dark .token.symbol {
	color: var(--dark-code-token-property);
}

html.dark .token.selector,
html.dark .token.important,
html.dark .token.atrule {
	color: var(--dark-code-token-selector);
}

html.dark .token.keyword,
html.dark .token.builtin {
	color: var(--dark-code-keyword);
}

html.dark .token.string,
html.dark .token.char,
html.dark .token.attr-value,
html.dark .token.regex,
html.dark .token.variable {
	color: var(--dark-code-string);
}

html.dark .token.operator,
html.dark .token.entity,
html.dark .token.url {
	color: var(--dark-code-operator);
}

html.dark .token.important,
html.dark .token.bold {
	font-weight: bold;
}
html.dark .token.italic {
	font-style: italic;
}

html.dark .token.entity {
	cursor: help;
}

html.dark .token.inserted {
	color: green;
}

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	z-index: 10;
	top: -0.2em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
	cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
	color: inherit;
	text-decoration: none;
}