
/* variables ----------------------------------------------------------------- */

:root {

    --p-1: 1rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;

    --rem-1: 1rem;
    --rem-2: 2rem;
    --rem-3: 3rem;
    --rem-4: 4rem;
    --rem-5: 5rem;
    --rem-6: 6rem;
    --rem-7: 7rem;


    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;

    --rounded-sm: 0.25rem;

    --white: #fafafa;
    --black: #111111;
    --faint-gray: #e0e0e0;
    --gray: #555555;
    --main-color: blue;

}

/* reset --------------------------------------------------------------------- */

html, body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--white);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--black);

}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* main ---------------------------------------------------------------------- */

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sitenav article"
        "footer footer"
    ;
    min-height: 100vh;
}

/* header -------------------------------------------------------------------- */

header {
    grid-area: header;
    padding: var(--rem-1);
    font-size: var(--text-xs);
    background-color: var(--white);
    border-bottom: solid var(--faint-gray) 1px;
}

header h1 {
    font-size: var(--text-md);
}

/* sitenav ------------------------------------------------------------------ */

#sitenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 66%;
    background-color: var(--white);
    border-right: solid var(--faint-gray) 1px;
    height: 100vh;
    padding-right: 1rem;
}

#sitenav .sitenav-mobile-header {
    padding: var(--rem-1);
    border-bottom: solid var(--faint-gray) 1px;
    font-size: var(--text-md);
    width: 100%;
}

#sitenav .sitenav-list {
    padding: 0.5rem;
    /* height: 100%; */
}

#sitenav ul {
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}


#sitenav li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#sitenav .sitenav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* border:solid var(--faint-gray) 1px;  */
    border-radius: var(--rounded-sm)
}

#sitenav .sitenav-item-active {
    color: var(--main-color);
    background-color: var(--faint-gray);
}

#sitenav .sitenav-item:hover {
    background-color: var(--faint-gray);
}

#sitenav .sitenav-dropdown-button-active {
    color: var(--main-color);
}

#sitenav .dropdown-caret {
    color: var(--black);
}

#sitenav .dropdown-caret-active {
    transform: rotate(90deg);
}

@media (min-width: 992px) {
    #sitenav {
        grid-area: sitenav;
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0.5rem;
        width: 300px;
        border-right: solid var(--faint-gray) 1px;
    }
    #sitenav .sitenav-mobile-header {
        display: none;
    }
    #sitenav .sitenav-list {
        padding: 0;
        border-right: none;
    }
}

/* article ------------------------------------------------------------------ */

article {
    grid-area: article;
    display: grid;
    gap: var(--rem-2);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "content"
    ;
    overflow-y: scroll;
    height: 100%;
}

@media (min-width: 992px) {
    article {
        grid-template-columns: 4fr 2fr;
        grid-template-areas: 
            "content pagenav"
        ;
    }
}

#content-wrapper {
    grid-area: content;
    padding: var(--rem-2);
    margin-bottom: var(--rem-2);
}

#content-wrapper h1 {
    font-size: var(--text-xl);
    margin-bottom: var(--rem-3);
}

#content-wrapper h2 {
    font-size: var(--text-lg);
    margin-top: var(--rem-2);
    margin-bottom: var(--rem-1);
}

#content-wrapper p {
    font-size: var(--text-sm);
    margin-bottom: var(--rem-1);
}

/* pagenav ------------------------------------------------------------------- */

#pagenav {
    grid-area: pagenav;
    border-left: solid var(--faint-gray) 1px;
    position: fixed;
    display: none; 
    padding: var(--rem-1);
    color: var(--gray);
}

#pagenav-wrapper {
    display: none; 
}

#pagenav ul {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--text-xs);

}

@media (min-width: 992px) {
    #pagenav {
        display: flex;
        flex-direction: column;
        gap: var(--rem-1);
    }
    #pagenav-wrapper {
        display: block;
    }
}

/* footer -------------------------------------------------------------------- */

footer {
    border-top: solid var(--faint-gray) 1px;
    padding: var(--rem-1);
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: var(--white);
    font-size: var(--text-sm);
}

/* custom scroll ------------------------------------------------------------- */


.custom-scroll::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
}

@media (min-width: 992px) {
    .custom-scroll::-webkit-scrollbar {
        width: 12px;
    }
    
    .custom-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

/* utility classes ----------------------------------------------------------- */

.depth-0 {
    padding-left: 0;
}

.depth-1 {
    padding-left: 0.5rem;
}

.depth-2 {
    padding-left: 1rem;
}

.depth-3 {
    padding-left: 1.5rem;
}

.depth-4 {
    padding-left: 2rem;
}

.depth-5 {
    padding-left: 2.5rem;
}

.hidden {
    display: none !important;
}