
/* variables ----------------------------------------------------------------- */

:root {

    --p-1: 1rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;

    --rem-1: 1rem;
    --rem-2: 2rem;
    --rem-3: 3rem;
    --rem-4: 4rem;
    --rem-5: 5rem;
    --rem-6: 6rem;
    --rem-7: 7rem;

    --text-2xs: 0.75rem;
    --text-xs: 1rem;
    --text-sm: 1.25rem;
    --text-md: 1.5rem;
    --text-lg: 1.75rem;
    --text-xl: 2rem;
    --text-2xl: 3rem;

    --rounded-sm: 0.25rem;

    --white: #fafafa;
    --black: #111111;
    --faint-gray: #e0e0e0;
    --light-gray: #d0d0d0;
    --gray: #555555;
    --main-color: blue;

}

/* reset --------------------------------------------------------------------- */

html, body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--white);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--black);

}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* main ---------------------------------------------------------------------- */

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sitenav article"
        "footer footer"
    ;
    min-height: 100vh;
}

/* header -------------------------------------------------------------------- */

header {
    grid-area: header;
    padding: var(--rem-1);
    font-size: var(--text-xs);
    background-color: var(--white);
    border-bottom: solid var(--faint-gray) 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: var(--text-md);
}

header .header-logo {
    display: flex;
    height: 35px;
    width: 180px;
    align-items: center;
    gap: var(--rem-2);
}

header .header-bars {
    display: block;
    cursor: pointer;
}

header .header-sun-icon {
    display: none;
    cursor: pointer;

}

@media (min-width: 992px) {
    header .header-bars {
        display: none;
    }
    header .header-sun-icon {
        display: block;
    }
}

/* sitenav ------------------------------------------------------------------ */

#sitenav {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 80%;
    background-color: var(--white);
    border-right: solid var(--faint-gray) 1px;
    height: 100vh;
    z-index: 1000;
}

#sitenav.sitenav-active {
    display: flex;
}

#sitenav .sitenav-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: var(--rem-1);
    border-bottom: solid var(--faint-gray) 1px;
    font-size: var(--text-md);
    height: 35px;
}

#sitenav .sitenav-mobile-header-logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--rem-2);
}

#sitenav .sitenav-mobile-header-logo {
    display: flex;
    width: 180px;
    align-items: center;
    gap: var(--rem-2);
}

#sitenav .sitenav-mobile-header-sun-icon {
    cursor: pointer;
}

#sitenav .sitenav-mobile-header-close-icon {
    cursor: pointer;
}


#sitenav .sitenav-list {
    padding: 0.5rem;
}

#sitenav ul {
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
}


#sitenav li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#sitenav .sitenav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: var(--rounded-sm)
}

#sitenav .sitenav-item-active {
    color: var(--main-color);
    background-color: var(--faint-gray);
}

#sitenav .sitenav-item:hover {
    background-color: var(--faint-gray);
}

#sitenav .sitenav-dropdown-button-active {
    color: var(--main-color);
}

#sitenav .dropdown-caret {
    color: var(--black);
}

#sitenav .dropdown-caret-active {
    transform: rotate(90deg);
}

@media (min-width: 992px) {
    #sitenav {
        grid-area: sitenav;
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0.5rem;
        width: 300px;
        border-right: solid var(--faint-gray) 1px;
    }
    #sitenav .sitenav-mobile-header {
        display: none;
    }
    #sitenav .sitenav-list {
        padding: 0;
        border-right: none;
    }
}

/* pageturn ------------------------------------------------------------------ */

#pageturn {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}

#pageturn li {
    display: flex;
    width: 100%;
}

#pageturn div {
    display: flex;
}

#pageturn a p {
    font-size: var(--text-2xs);
    font-weight: bold;
    margin: 0;
    display: flex;
    color: var(--main-color);
}

#pageturn a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--rounded-sm);
    border: solid var(--light-gray) 1px; 
    padding: 1rem;
    width: 100%;
}

#pageturn .pageturn-next p {
    justify-content: flex-end;
}

#pageturn .pageturn-next div {
    justify-content: flex-end;
}

#pageturn .pageturn-prev p {
    justify-content: flex-start;
}

#pageturn .pageturn-prev div {
    justify-content: flex-start;
}

/* article ------------------------------------------------------------------ */

article {
    grid-area: article;
    display: grid;
    gap: var(--rem-2);
    grid-template-columns: 100vw;
    overflow-y: scroll;
    grid-template-areas: 
        "content"
    ;
}

@media (min-width: 992px) {
    article {
        overflow-x: hidden;
        grid-template-columns: 65% 35%;
        grid-template-areas: 
            "content pagenav"
        ;
    }
}

#content-wrapper {
    grid-area: content;
    padding: var(--rem-2);
    margin-bottom: var(--rem-2);
}

#content-wrapper h1 {
    font-size: var(--text-2xl);
    margin-bottom: var(--rem-3);
}

#content-wrapper h2 {
    font-size: var(--text-xl);
    margin-top: var(--rem-2);
    margin-bottom: var(--rem-1);
}

#content-wrapper h3 {
    font-size: var(--text-lg);
    margin-top: var(--rem-2);
    margin-bottom: var(--rem-1);
}

#content-wrapper p {
    font-size: var(--text-xs);
    margin-bottom: var(--rem-1);
}

#content-wrapper pre {
    font-size: var(--text-xs);
    padding: var(--rem-1);
    border-radius: var(--rounded-sm);
    margin-bottom: var(--rem-1);
    overflow-x: auto;
    white-space: pre;
}

#content-wrapper code {
    font-size: var(--text-xs);
    border-radius: var(--rounded-sm);
}

/* pagenav ------------------------------------------------------------------- */

#pagenav {
    grid-area: pagenav;
    border-left: solid var(--faint-gray) 1px;
    position: fixed;
    display: none; 
    padding: var(--rem-1);
    color: var(--gray);
    min-width: 200px;
    width: 100%;
}

#pagenav-wrapper {
    display: none; 
}

#pagenav ul {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--text-2xs);

}

@media (min-width: 992px) {
    #pagenav {
        display: flex;
        flex-direction: column;
        gap: var(--rem-1);
    }
    #pagenav-wrapper {
        display: block;
    }
}

/* footer -------------------------------------------------------------------- */

footer {
    border-top: solid var(--faint-gray) 1px;
    padding: var(--rem-1);
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: var(--white);
}

footer p {
    font-size: var(--text-2xs);
}

/* mobile nav overlay ---------------------------------------------------------- */

#mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    opacity: 70%;
    display: none;
}

#mobile-nav-overlay.mobile-nav-overlay-active {
    display: block;
}

@media (min-width: 992px) {
    #mobile-nav-overlay {
        display: none;
    }
    #mobile-nav-overlay.mobile-nav-overlay-active {
        display: none;
    }
}

/* custom scroll ------------------------------------------------------------- */


.custom-scroll::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
}

@media (min-width: 992px) {
    .custom-scroll::-webkit-scrollbar {
        width: 12px;
    }
    
    .custom-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    .custom-scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

/* utility classes ----------------------------------------------------------- */

.depth-0 {
    padding-left: 0;
}

.depth-1 {
    padding-left: 0.5rem;
}

.depth-2 {
    padding-left: 1rem;
}

.depth-3 {
    padding-left: 1.5rem;
}

.depth-4 {
    padding-left: 2rem;
}

.depth-5 {
    padding-left: 2.5rem;
}

.hidden {
    display: none !important;
}