
:root {

    --p-1: 1rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;

    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-lg: 2rem;
    --font-xl: 3rem;


    --white: #fafafa;
    --faint-gray: #e0e0e0;

}

html, body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--white);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    padding: var(--p-2);
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom:solid var(--faint-gray) 1px; 
    z-index: 1000;
}

header h1 {
    font-size: var(--font-md);
    margin-right: auto;
}

#sitenav {
    position: fixed;
    left: 0;
    padding: var(--p-1);
    border-right:solid var(--faint-gray) 1px;
    height:100%;
    z-index: 10;
}

#sitenav ul {
    width: 200px;
}

#pagenav {
    position: fixed;
    right: 0;
    border-left:solid var(--faint-gray) 1px;
}

#pagenav ul {
    width: 250px;
}


main {
    padding: var(--p-2) 350px var(--p-2) 350px;
}

main h1 {
    font-size: var(--font-xl);
    margin-bottom: var(--p-2);
}

main h2 {
    font-size: var(--font-lg);
    margin-bottom: var(--p-1);
}

main h3 {
    font-size: var(--font-md);
    margin-bottom: var(--p-1);
}

main p {
    font-size: var(--font-sm);
    margin-bottom: var(--p-1);
}


footer {
    padding: var(--p-2);
    text-align: center;
    background-color: var(--white);
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid var(--faint-gray) 1px;
    z-index: 20;
    position: relative;
}