
:root {

    --p-1: 1rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;

    --rem-2: 2rem;
    --rem-3: 3rem;
    --rem-4: 4rem;


    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-lg: 2rem;
    --font-xl: 3rem;

    --rounded-sm: 0.25rem;

    --white: #fafafa;
    --faint-gray: #e0e0e0;
    --main-color: blue;

}

html, body {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    background-color: var(--white);
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    padding: var(--p-1);
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom:solid var(--faint-gray) 1px; 
    z-index: 1000;
}

header h1 {
    font-size: var(--font-md);
    margin-right: auto;
}

#sitenav {
    position: fixed;
    left: 0;
    padding: var(--p-1);
    border-right:solid var(--faint-gray) 1px;
    height:100%;
    display: none;
}

#sitenav ul:first-child {
    padding-left: var(--rem-2);
    width: 200px;
}

#pagenav {
    position: fixed;
    right: 0;
    border-left:solid var(--faint-gray) 1px;
    width: 20%;
    padding-right: 50px;
    display: none;
}

#pagenav ul:first-child {
    padding-left: var(--rem-4);
    width: 200px;
}

@media (min-width: 1000px){
    #sitenav {
        display: flex;
    }
    #pagenav {
        display: flex;
    }
}

main {
    padding-top: var(--p-2);
    padding-bottom: var(--p-2);
    display: grid;
}

@media (min-width: 1600px) {
    main {
        padding-left: 350px;
        padding-right: 450px;
    }
}

@media (min-width: 1400px) and (max-width: 1599px){
    main {
        padding-left: 350px;
        padding-right: 400px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    main {
        padding-left: 350px;
        padding-right: 375px;
    }

}

@media (min-width: 1000px) and (max-width: 1199px){
    main {
        padding-left: 350px;
        padding-right:325px;
    }
}



main h1 {
    font-size: var(--font-xl);
    margin-bottom: var(--rem-2);
}

main h2 {
    font-size: var(--font-lg);
    margin-bottom: var(--p-1);
}

main h2:nth-child(n+2) {
    margin-top: var(--rem-2);
}


main h3 {
    font-size: var(--font-md);
    margin-bottom: var(--p-1);
}

main p {
    font-size: var(--font-sm);
    margin-bottom: var(--p-1);
}

#pageturn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--rem-4);
    margin-bottom: var(--rem-4);
}

#pageturn li {
    width: 45%;
    display: flex;
}

#pageturn a {
    border: solid var(--faint-gray) 1px;
    padding: var(--rem-2);
    width: 100%;
    border-radius: var(--rounded-sm);
}

#pageturn a:hover {
    border: solid var(--main-color) 1px;
}

footer {
    padding: var(--p-2);
    text-align: center;
    background-color: var(--white);
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-top: solid var(--faint-gray) 1px;
    z-index: 20;
    position: relative;
}