<ul id="pageturn">
    <li class="pageturn-prev">
        {{ if .Prev }}
            <a href={{ .Prev.RouterPath }} target="_self">
                <div>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 16-4-4 4-4m-6 8-4-4 4-4"/>
                    </svg>
                </div>
                <p>{{ .Prev.BaseNodeData.Name }}</p>
            </a>
        {{ end }}
    </li>
    <li class="pageturn-next">
        {{ if .Next }}
            <a href={{ .Next.RouterPath }} target="_self">
                <div>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 16 4-4-4-4m6 8 4-4-4-4"/>
                    </svg>
                </div>
                <p >{{ .Next.BaseNodeData.Name }}</p>
            </a>
        {{ end }}
    </li>
</ul>